[submodule "Fable.Remoting.Suave"]
	path = Fable.Remoting.Suave
	url = https://github.com/brianberns/Fable.Remoting.Suave
[submodule "alpaca-trade-api-csharp"]
	path = alpaca-trade-api-csharp
	url = https://github.com/brianberns/alpaca-trade-api-csharp
